/* WEBSITE BASIC SETUP */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Calibri, sans-serif;
    font-size: 16px;
    background-color: rgb(227, 227, 223);
}

main {
    margin: 0 auto;
    padding: 20px 0;
    width: 50%;
    min-width: 500px;
    max-width: 700px;
}

section {
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding-bottom: 20px;
    margin-bottom: 50px;

    h1 {
        width: 100%;
        margin-bottom: 20px;
    }
}
/* END OF WEBSITE BASIC SETUP */


//========================
//====    SETTINGS    ====
//========================

$border-radius: 10px;
$main-bg-color: rgb(227, 227, 223);
$nmrph-tile-border-color: rgba(255, 255, 255, 0.3);
$shadow-darker: rgba(209, 205, 199, 1);
$shadow-lighter: rgba(255, 255, 255, 0.5);
$shadow-inset-darker: rgba(209, 205, 199, 0.5);
$shadow-inset-lighter: rgba(255, 255, 255, 0.5);
$table-cell-padding: 16px 20px;
$concave-table-row-border-color: #ccc;


/* MARGIN AND PADDINGS */
.padding-30 {
    padding: 30px;
}

.padding-10 {
    padding: 10px;
}
/* END MARGIN AND PADDINGS */

/* TILES */
.nmrph-tile {
    position: relative;

    border: 1px solid $nmrph-tile-border-color;
    background-color: $main-bg-color;
    border-radius: $border-radius;
    
    &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        border-radius: $border-radius;
        background-color: transparent;
    }
}

.convex {
    &::after {
        box-shadow: -6px 0px 16px 0 $shadow-lighter,
                    0px -6px 16px 0 $shadow-lighter,
                    6px 0px 16px 0 $shadow-darker,
                    0px 6px 16px 0 $shadow-darker;
    }
}

.concave {
    box-shadow: inset 2px 0px 8px 0 $shadow-inset-darker,
                inset 0px 2px 8px 0 $shadow-inset-darker,
                inset -2px 0px 8px 0 $shadow-inset-lighter,
                inset 0px -2px 8px 0 $shadow-inset-lighter;
}


/* TABLE */
table.nmrph-table-convex {
    display: block;
    width: 100%;
    border-collapse: separate;
    border-radius: $border-radius;

    tr {
        border-bottom: 0px solid white;
        border-radius: 0;

        td {
            padding: $table-cell-padding;
            
            text-align: center;
            border: 0px solid transparent;
            box-shadow: inset 2px 0px 8px 0 $shadow-inset-darker,
                    inset 0px 2px 8px 0 $shadow-inset-darker,
                    inset -2px 0px 8px 0 $shadow-inset-lighter,
                    inset 0px -2px 8px 0 $shadow-inset-lighter;

            &:first-child {
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }
        }

        // Rounded corners and no border surrounding the table
        &:first-child { 
            border-top: none;
            
            td:first-child {
                border-top-left-radius: $border-radius;
            }
            td:last-child {
                border-top-right-radius: $border-radius;
            }
        }
        &:last-child {
            border-bottom: none;
            
            td:first-child {
                border-bottom-left-radius: $border-radius;
            }
            td:last-child {
                border-bottom-right-radius: $border-radius;
            }
        }
    }

    &::after {
        box-shadow: -6px 0px 16px 0 $shadow-lighter,
                    0px -6px 16px 0 $shadow-lighter,
                    6px 0px 16px 0 $shadow-darker,
                    0px 6px 16px 0 $shadow-darker;
    }
}

table.nmrph-table-concave {
    width: 100%;
    border-collapse: collapse;
    border-radius: $border-radius;

    box-shadow: inset 6px 0px 12px 0 $shadow-darker,
    inset 0px 6px 12px 0 $shadow-darker,
    inset -6px 0px 16px 0 $shadow-inset-lighter,
    inset 0px -6px 16px 0 $shadow-inset-lighter;

    tr {
        border: 1px solid $concave-table-row-border-color;
        border-bottom: 0px solid white;
        border-radius: 0;

        border-left: none;
        border-right: none;

        td {
            padding: $table-cell-padding;
            
            text-align: center;
            border: 0px solid transparent;

            &:first-child {
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }
        }

        // Rounded corners and no border surrounding the table
        &:first-child { 
            border-top: none;
            
            td:first-child {
                border-top-left-radius: $border-radius;
            }
            td:last-child {
                border-top-right-radius: $border-radius;
            }
        }
        &:last-child {
            border-bottom: none;
            
            td:first-child {
                border-bottom-left-radius: $border-radius;
            }
            td:last-child {
                border-bottom-right-radius: $border-radius;
            }
        }
    }
}