//================================================
//===============     BUTTONS     ================
//================================================

.nmrph-button {
    position: relative;
    padding: $button-padding; 

    border: 1px solid $nmrph-border-color;
    border-radius: $border-radius;
    background-color: $bg-color-primary;
    outline: none;
    cursor: pointer;
    
    @include nmrph;

    &::after {
        border-radius: $border-radius;
    }

    /* RECTANGULAR TILE */
    &--rect {        
        &:after{
            border-radius: 0;
        }
    }

    /* CIRCULAR TILE */
    &--circ {
        width: var(--size);
        height: var(--size);
        border-radius: 100%;  

        &:after{
            border-radius: 100%;  
        } 
          
    }
    /* END OF CIRCULAR TILE */
    
    &--convex {
        @include convex-shadow--regular;
        border: none;

        &:active {
            @include convex-shadow--tiny;
        }
    }
    
    &--concave {
        @include concave-shadow--tiny;
        border: none;

        &:active {
            @include concave-shadow--regular;
        }
    }

    &--convex-concave {
        @include convex-shadow--regular;
        @include concave-shadow--tiny;

        &:active {
            @include convex-shadow--tiny;
            @include concave-shadow--tiny;
        }
    }

    /* TILE HEADERS */

    /* END OF TILE HEADERS */
}