//================================================
//==================   COLORS   ==================
//================================================

//====================================================/
//================== DEFINED VALUES ==================/
// Main colors
$color-primary: rgb(87, 90, 68);         // not sure yet how it will be used
$color-accent: greenyellow;                 // used for important action buttons, links with glow effect, etc.
$bg-color-primary-dark: darken($color-primary, 40%);
$bg-color-primary-light: lighten($color-primary, 30%);  
$bg-color-primary: $bg-color-primary-light;    // select color primary dark or light
//============== END OF DEFINED VALUES ===============/
//====================================================/




/* CALCULATED VALUES */
// Base colors
$nmrph-border-color: lighten($bg-color-primary, 5%);
$concave-table-row-border-color: lighten($bg-color-primary, 4%);

// Shadow colors
$shadow-darker: darken($bg-color-primary, 4%);
$shadow-lighter: lighten($bg-color-primary, 4%);
$shadow-inset-darker: darken($bg-color-primary, 4%);
$shadow-inset-lighter: lighten($bg-color-primary, 4%);

// Text colors
$text-color-lighter: lighten($bg-color-primary, 10%);
$text-color-darker: darken($bg-color-primary, 50%);
$text-color-darker-light: darken($bg-color-primary, 40%);
