//================================================
//==================   INPUTS   ==================
//================================================

@mixin nmrph-input {
    position: relative;

    input {
        padding: $input-text-padding;

        background-color: transparent;
        color: $text-color-regular;
        font-weight: bold;
        outline: none;
        border: none;
        border-radius: $border-radius;

        &::placeholder {
            color: $text-color-light;
            font-weight: bold;
        }
    }
}

.nmrph-input {
    /* RECTANGULAR INPUT */
    &--rect {        
        &--convex {
            color: $text-color-light;
            @include nmrph-input;
            @include nmrph-tile--rect;
            @include convex-shadow--small;
        }
        
        &--concave {
            @include nmrph-input;
            @include nmrph-tile--rect;
            @include concave-shadow--tiny;
        }

        &--convex--concave {
            @include nmrph-input;
            @include nmrph-tile--rect;
            @include convex-shadow--small;
            @include concave-shadow--tiny;
        }
    }

    /* CIRCULAR INPUT */
    &--circ {        
        &--convex {
            @include nmrph-input;
            @include nmrph-tile--circ;
            @include convex-shadow--small;
        }
        
        &--concave {
            @include nmrph-input;
            @include nmrph-tile--circ;
            @include concave-shadow--tiny;
        }

        &--convex--concave {
            @include nmrph-input;
            @include nmrph-tile--circ;
            @include convex-shadow--small;
            @include concave-shadow--tiny;
        }
          
    }
    /* END OF CIRCULAR INPUT */
}