//================================================
//================     MIXINS     ================
//================================================

/* SHADOWS */
@mixin nmrph {
    &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: $border-radius;

        background-color: transparent;
    }
}

@mixin convex-shadow-after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background-color: transparent;
}

$elevation: 8px;
@mixin convex-shadow--regular {
    &::after {
        @include convex-shadow-after;
        box-shadow: -6px -6px 16px 0 $shadow-lighter,   // Left
                    0px -6px 16px 0 $shadow-lighter,    // Top
                    6px 6px 16px 0 $shadow-darker,      // Right
                    0px 6px 16px 0 $shadow-darker;      // Bottom
    }
}

@mixin convex-shadow--small {
    &::after {
        @include convex-shadow-after;
        box-shadow: -4px -4px 12px 0 $shadow-lighter,   // Left top
                    4px 4px 12px 0 $shadow-darker,      // Right bottom
    }
}

@mixin convex-shadow--tiny {
    &::after {
        @include convex-shadow-after;
        box-shadow: -2px -2px 6px 0 $shadow-lighter,    // Left top
                    2px 2px 6px 0 $shadow-darker,       // Right bottom
    }
}

@mixin convex-shadow--none {
    &::after {
        box-shadow: none
    }
}

@mixin concave-shadow--regular {
    box-shadow: inset 6px 6px 16px 0 $shadow-inset-darker,      // Left top
                inset -6px -6px 16px 0 $shadow-inset-lighter,   // Right bottom
}

$elevation-small: calc($elevation - 2px);
@mixin concave-shadow--small {
    box-shadow: inset 4px 4px 12px 0 $shadow-inset-darker,      // Left top
                inset -4px -4px 12px 0 $shadow-inset-lighter,   // Right bottom
}

$elevation-tiny: calc($elevation - 4px);
@mixin concave-shadow--tiny {
    box-shadow: inset 2px 2px 8px 0 $shadow-inset-darker,       // Left top
                inset -2px -2px 8px 0 $shadow-inset-lighter,    // Right bottom
}

@mixin shadow--none {
    box-shadow: none;
}

@mixin convex-concave-shadow {
    @include convex-shadow--regular;
    @include concave-shadow--small;
}