//================================================
//================   PROPERTIES   ================
//================================================

/* SPACING */
$table-cell-padding: 16px 20px;
$border-radius: 10px;
$button-padding: 10px;
$button-min-width: 80px;


/* MARGIN AND PADDINGS */
.padding-30 {
    padding: 30px;
}

.padding-10 {
    padding: 10px;
}