//================================================
//================     TABLES     ================
//================================================

.nmrph-table{
    position: relative;
    display: block;
    width: auto;

    &::after {
        transition: 200ms;
    }

    &--convex {
        display: block;
        border-collapse: separate;  
        border-radius: $border-radius;
        border: 1px solid $nmrph-border-color;

        @include nmrph;
        @include convex-shadow--regular;

        &::after {
            border-radius: $border-radius;
        }

        tr {
            border-bottom: 0px solid white;
            border-radius: 0;

            td {
                padding: $table-cell-padding;
                
                text-align: center;
                border: 0px solid transparent;
                @include concave-shadow--tiny;
                

                &:first-child {
                    border-left: none;
                }
                &:last-child {
                    border-right: none;
                }
            }

            // Rounded corners and no border surrounding the table
            &:first-child { 
                border-top: none;
                
                td:first-child {
                    border-top-left-radius: $border-radius;
                }
                td:last-child {
                    border-top-right-radius: $border-radius;
                }
            }
            
            &:last-child {
                border-bottom: none;
                
                td:first-child {
                    border-bottom-left-radius: $border-radius;
                }
                td:last-child {
                    border-bottom-right-radius: $border-radius;
                }
            }
        }

        &::after {
            box-shadow: -6px 0px 16px 0 $shadow-lighter,
                        0px -6px 16px 0 $shadow-lighter,
                        6px 0px 16px 0 $shadow-darker,
                        0px 6px 16px 0 $shadow-darker;
        }
    }

    &--concave {
        border-collapse: collapse;
        border-radius: $border-radius;

        @include concave-shadow--small;

        tr {
            border: 2px solid $concave-table-row-border-color;
            border-bottom: 0px solid white;
            border-radius: 0;

            border-left: none;
            border-right: none;

            td {
                padding: $table-cell-padding;
                
                text-align: center;
                border: 0px solid transparent;

                &:first-child {
                    border-left: none;
                }
                &:last-child {
                    border-right: none;
                }
            }

            // Rounded corners and no border surrounding the table 
            &:first-child { 
                border-top: none;
                
                td:first-child {
                    border-top-left-radius: $border-radius;
                }
                td:last-child {
                    border-top-right-radius: $border-radius;
                }
            }
            &:last-child {
                border-bottom: none;
                
                td:first-child {
                    border-bottom-left-radius: $border-radius;
                }
                td:last-child {
                    border-bottom-right-radius: $border-radius;
                }
            }
        }
    }
}
