//================================================
//================      TEXT      ================
//================================================

a {
    text-decoration: none;
}

// Headers
.text--glow {
    color: $color-accent;
    text-shadow: 0 0 $text-glow-size $text-glow-color;
}

// Normal text

// Links
.link--glow {
    color: $color-accent;
    transition: $transition-text;
    cursor: pointer;

    &:hover {
        text-shadow: 0 0 $text-glow-size $text-glow-color;
    }
}

.text--accent {
    color: $color-accent;
}

.text--dark {
    color: $text-color-dark;
}

.text--regular {
    color: $text-color-regular;
}

.text--light {
    color: $text-color-light;
}
