//================================================
//================     TILES      ================
//================================================

/* MIXINS */
@mixin nmrph-tile {
    position: relative;
    border-collapse: collapse;

    border: 1px solid $nmrph-border-color;
    background-color: $bg-color-primary;

    &:after {
        @include convex-shadow-after;
    }
}

@mixin nmrph-tile--rect {
    @include nmrph-tile;
    border-radius: $border-radius;

    &::after {
        border-radius: $border-radius;
    }
}

@mixin nmrph-tile--circ {
    @include nmrph-tile;
    width: var(--size);
    height: var(--size);
    border-radius: 9999px;  

    &::after {
        border-radius: 9999px;
    }
}
/* END OF MIXINS */

.nmrph-tile {
    /* RECTANGULAR TILE */
    &--rect {        
        &--convex {
            @include nmrph-tile--rect;
            @include convex-shadow--regular;
        }
        
        &--concave {
            @include nmrph-tile--rect;
            @include concave-shadow--regular;
        }

        &--convex--concave {
            @include nmrph-tile--rect;
            @include convex-shadow--regular;
            @include concave-shadow--tiny;
        }
    }

    /* CIRCULAR TILE */
    &--circ {        
        &--convex {
            @include nmrph-tile--circ;
            @include convex-shadow--regular;
        }
        
        &--concave {
            @include nmrph-tile--circ;
            @include concave-shadow--regular;
        }

        &--convex--concave {
            @include nmrph-tile--circ;
            @include convex-shadow--regular;
            @include concave-shadow--tiny;
        }
          
    }
    /* END OF CIRCULAR TILE */

    /* TILE HEADERS */
}