//================================================
//=========   BASIC WEBSITE FORMATTING   =========
//================================================

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Calibri, sans-serif;
    font-size: 16px;
}

main {
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    min-width: 550px;
    max-width: 750px;
}

h1 {
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 20px;
}

section {
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding: 20px;
    padding-top: 0;
    margin-bottom: 50px;
}

.wrapper-row {
    width: 100%;
    margin-bottom: 20px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.wrapper-col {
    width: 100%;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.items-margin-top-10 {
    & > * {
        margin-top: 10px;
    }
}

.separator-top {
    margin-top: 40px;
}

.separator-top-negative {
    margin-top: -40px;
}
/* END OF WEBSITE BASIC SETUP */